{{ define "main" }}
{{ $releaseMetadata := .Site.Data.releases }}
<main aria-role="main" class="grad2">
    <div class=content>
        <h1 class="releases-title">💿 Releases</h1>
        <a id=home-link href="/">⬅️ Back </a>
        <div class="cloud">
            <p>Jump to</p>
            {{- range $i, $page := .Pages.ByDate }}
            {{- $ri := add $i 1 | string }}
            {{- $noval := index $releaseMetadata.numbers $ri }}
            {{- $ri := print ":" $noval ":" | emojify }}
            <a class="release {{ .Params.releaseType }}" href="#{{ .Title | anchorize }}">{{ $ri }} {{ $page.Title }}</a>
            {{- end }}
        </div>
        <div class="releases">
            {{- $totalPages := len .Pages }}
            {{- range $i, $page := .Pages.ByDate | collections.Reverse }}
            {{- $ri := sub $totalPages $i | string }}
            {{- $noval := index $releaseMetadata.numbers $ri }}
            {{- $ri := print ":" $noval ":" | emojify }}
            <div class="release {{ .Params.releaseType }}" id="{{ .Title | anchorize }}">
                <div class="content">
                    <h2 class="title">{{ $ri }} {{ .Title }}</h2>
                    <a class="listen-link" target=_blank href="/release/{{ .Title | anchorize }}">🎧 Listen 📻</a>
                    {{- if not .Params.noSpotify }}
                    <a href="/release/{{ .Title | anchorize }}/spotify" target=_blank class="link-spotify">
                        <img src="/img/ext/Primary_Logo_Green_PMS_U.svg" width=20 />
                        Spotify®
                    </a>
                    {{- end }}
                    {{- if not .Params.noAppleMusic }}
                    <a href="/release/{{ .Title | anchorize }}/applemusic" target=_blank class="link-applemusic">
                        <img src="/img/ext/Apple_Music_Icon_RGB_sm_073120.svg" width=20 />
                        Apple Music
                    </a>
                    {{- end }}
                    <p class="description">
                        {{ .Content }}
                    </p>
                    <img class="albumcover" src="{{ .Params.artwork }}" width=75% />
                    <p>
                        {{ .Date.Format "2006" }}
                    </p>
                    <p class="credits">
                        Artwork by {{ .Params.artworkAuthor }}
                        <br>
                        {{- range $author := (split .Params.artworkAuthor ", ") }}
                        <br>
                        {{- $artworkAuthorMetadata := index $.Site.Data.releases.artworkAuthors $author }}
                        {{ range $label, $link := $artworkAuthorMetadata }}
                        <a href="{{ $link }}" target=_blank>{{ $label }}</a>
                        {{ end }}
                        {{- end }}
                    </p>
                </div>
            </div>
            {{- end }}
        </div>
        <div>
            <p id=rss-link>
                RSS:
                <a href="/releases/index.xml" target=_blank>releases.xml</a>
            </p>
        </div>
</main>
{{ end }}
