<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {{ $css := resources.Get "css/style.css" }}
    {{ if hugo.IsProduction }}
    {{ $css = $css | minify | fingerprint | resources.PostProcess }}
    {{ end }}
    <link href="{{ $css.RelPermalink }}" rel="stylesheet" />
    {{- if not hugo.IsServer }}
    <script defer data-domain="{{ .Site.Params.plausible.domain }}" src="https://plausible.io/js/script.js"></script>
    {{- end }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    <meta property="og:image" content="/img/isolaet_logo.webp">
    <meta property="og:image:width" content="1980" />
    <meta property="og:image:height" content="1980" />
  </head>
  <body>
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    <div class="footer">
      <p>
        Copyright ©️  Caleb Woodbine {{ time.Now | time.Format "2006" }} - All Rights Reserved.
      </p>
    </div>
    {{ end }}
  </body>
</html>
