:root {
    --colour-album: #2fbdbd;
    --colour-ep: #2afdfd;
    --colour-single: #3991ac;
    --colour-soundtrack: #593d66;
}

@font-face { font-family: 'Roboto'; src: url('/fonts/Roboto-Black.ttf'); }

body, html {
    margin: 0 0 0 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body:has(main.grad1) {
    background: linear-gradient(77deg, #f6c9d1, #f17e92, #ccedd8);
    background-size: 600% 600%;

    -webkit-animation: IsolaetAnimation 80s ease infinite;
    -moz-animation: IsolaetAnimation 80s ease infinite;
    animation: IsolaetAnimation 80s ease infinite;
}

@-webkit-keyframes IsolaetAnimation {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
@-moz-keyframes IsolaetAnimation {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
@keyframes IsolaetAnimation {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}

body:has(main.grad2) {
    color: white;
    background-color: #1c1c1c;
}

blockquote {
    font-style: italic;
    background-color: #ffffff21;
}

ul {
    list-style: circle inside none;
}

div.title-box {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: black 0 0 100px 0;
    border-top: solid 2px black;
}

a.link-spotify {
    padding: 5px;
    border-radius: 6px;
    background-color: black;
    margin: 0.25rem;
    color: white;
}
a.link-spotify img {
    height: 100%;
    vertical-align: bottom;
}

a.link-applemusic {
    padding: 5px;
    border-radius: 6px;
    background-color: black;
    margin: 0.25rem;
    color: white;
}
a.link-applemusic img {
    height: 100%;
    vertical-align: bottom;
}

h1#title {
    margin: 0 0 0 0;
    padding: 10px;
}

div.content {
    margin: 0 0 0 0;
    margin-top: 10px;
}

div.isolaet-logo {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    vertical-align: middle;
    object-fit: contain;
}
div.isolaet-logo a img {
    border-radius: 3px;
}

div.go-places {
    display: flex;
    flex-wrap: wrap;
}

a#listen, a#releases, a#home-link {
    border: dashed 4px #000000;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    background: #fff;
    width: 10em;
    border-radius: 20px;
    box-shadow: black 0 0 80px 0;
}

a#listen {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -10px;
    border-right: none;
}

a#releases {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -10px;
    border-left: none;
}

div.cloud a {
    color: white;
    padding: 5px;
    border-radius: 10px;
    display: inline;
    margin: 1rem 0;
    line-height: 2rem;
}

div.cloud a.release.album {
    background: var(--colour-album);
}
div.cloud a.release.ep {
    background: var(--colour-ep);
}
div.cloud a.release.single {
    background: var(--colour-single);
}
div.cloud a.release.soundtrack {
    background: var(--colour-soundtrack);
}

div.cloud {
    margin: 2.5rem;

}

a#home-link {
    color: black;
    margin-top: 0;
}

div.release p.credits a {
    color: black;
}
a {
    color: white;
}
main.grad1 a {
    color: black;
}
div.title-box a.link {
    color: white;
}

a#listen:hover, a#releases:hover, a#home-link:hover {
    background: #ece7e7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

img#isolaet {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    margin: auto;
    vertical-align: middle;
    object-fit: contain;
    top-margin: 1rem;
    max-width: 100%;
    max-height: 60vh;
    box-shadow: black 0 0 200px -50px;
    transition: max-width 2s, max-height 2s, box-shadow 2s, transform 2s, filter 1s, background-image 2s;
    transform-style: preserve-3d;
}

img#isolaet:hover {
    max-width: 65vh;
    max-height: 65vh;
    box-shadow: white 0 0 100px -24px;
    transform: rotate3d(-3, 1, 1, 25deg);
    transition: max-width 1s, max-height 1s, box-shadow 1s, transform 1s, filter 1s, background-image 1s;
    filter: brightness(1.3);
}

div.releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.release {
    --border-colour: black;
    background-color: #40436c66;
    border-radius: 25px;
    width: 40rem;
    height: 55rem;
    margin: 10px;
    margin-top: 0px;
    box-shadow: #21a2d547 0 0 200px -50px;
    border: solid 4px var(--border-colour), solid 2px black;
}
div.release.album {
    --border-colour: var(--colour-album);
}
div.release.ep {
    --border-colour: var(--colour-ep);
}
div.release.single {
    --border-colour: var(--colour-single);
}
div.release.soundtrack {
    --border-colour: var(--colour-soundtrack);
}

div.release div.content {
}

div.release div.content p.credits {
}

div.release p {
    padding: 0 10%;
}

div.release#isolaet {
    background: #162d3d;
}

div.release#journey-of-he {
    background: #82678f;
}

div.release#coil {
    background: #0d9c59;
}

div.release#dream {
    background: #273c38;
}

div.release#squirrel {
    background: #66a227;
}

div.release#orange {
    background: #c45b1b;
}

div.release#nice {
    background: #d25656;
}
div.release#things-i-collected-from-the-seashore {
    background: #2f8791;
}

div.release#larry-and-bob-original-soundtrack-volume-1-isoalet {
    background: #7175aa;
}

div.release div.content a.listen-link {
    color: #a8a9f7;
    background-color: #505151;
    padding: 5px;
    border-radius: 25px;
    border: solid 2px black;
}

div.release div.content p.credits > a, p#rss-link > a {
    filter: invert(1) brightness(190%);
    mix-blend-mode: difference;
    background: #ddadad;
    border-radius: 10px;
    text-decoration: underline;
}

p#rss-link > a {
    background: #a8e85b;
}

div.release div.content h2.title {
    color: #6ef252;
    background-color: #505151;
    padding: 5px;
    margin-top: 0px;
    font-size: xx-large;
    border-radius: 12px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid 2px black;
}

h1.releases-title {
    color: #000;
    background-color: #fff;
    padding: 5px;
    font-size: xx-large;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: white 0 0px 25px -10px;
    border-bottom: solid 2px black;
    margin: 0;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    offset-anchor: 0 5rem;
}

body:has(main.grad2) div.content {
    margin: 0;
}

@media (max-width: 850px) {
    img#isolaet {
        max-width: 40vh;
        max-height: 40vh;
        transition: max-width 2s, max-height 2s, box-shadow 2s, transform 2s, filter 1s, background-image 2s;
    }

    img#isolaet:hover {
        max-width: 45vh;
        max-height: 45vh;
        box-shadow: white 0 0 100px -24px;
        transition: max-width 1s, max-height 1s, box-shadow 1s, transform 1s, filter 1s, background-image 2s;
    }

    div.release {
        width: 99%;
    }
}
