{{ define "main" }}
<main aria-role="main" class="grad1">
    <div class="content">
        <div id="go-places">
            <a href="/bandcamp" target="_blank" id="listen">📻 Listen now</a>
            <a href="/releases/" id="releases">💿 Releases</a>
        </div>
        <div class="isolaet-logo">
            <a href="/bandcamp" target="_blank">
                <img src="/img/isolaet_things_i_collected_from_the_seashore.png" id=isolaet />
            </a>
        </div>
    </div>
    <div class=title-box>
        <p>Listen on
            <a href="/spotify" target=_blank class="link link-spotify">
                <img src="/img/ext/Primary_Logo_Green_PMS_U.svg" width=20 />
                Spotify®
            </a>

            and
            <a href="/applemusic" target=_blank class="link link-applemusic">
                <img src="/img/ext/Apple_Music_Icon_RGB_sm_073120.svg" width=20 />
                Apple Music
            </a>
        </p>
        <h1 id=title>isolaet</h1>
    </div>
    </body>
</main>
{{ end }}
